In [1]:
import pandas as pd
import numpy

In [2]:
df = pd.read_csv("../../Datasets/NEweather.csv")
df.describe()

,temp,dew_pnt,sea_lvl_press,visibility,avg_wind_spd,max_sustained_wind_spd,max_temp,min_temp,rain
count,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,51.006124,39.737849,1016.762404,11.655036,7.015094,14.022432,62.033149,42.468704,0.313784
std,21.147466,20.080543,47.697233,3.941030,3.656144,5.321651,22.181360,20.442788,0.464042
min,-11.700000,-25.700000,980.200000,0.100000,0.100000,1.900000,-8.900000,-22.000000,0.000000
25%,34.600000,25.300000,1011.400000,9.300000,4.400000,10.100000,44.100000,28.000000,0.000000
50%,53.000000,39.700000,1015.900000,11.400000,6.400000,13.000000,64.900000,43.000000,0.000000
75%,69.600000,57.450000,1020.800000,14.500000,9.000000,17.100000,81.000000,60.100000,1.000000
max,92.500000,77.600000,5503.800000,24.900000,28.000000,49.000000,109.000000,82.900000,1.000000

In [3]:
df = pd.read_csv("../../Datasets/PRSA_Data_imputed.csv")
df.describe()

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
count,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000,70128.000000
mean,82.215945,107.958224,17.045957,56.512363,1295.336492,56.272245,13.725086,1012.034059,2.575349,0.024750,8.125891,1.763818,0.500000
std,76.534752,86.759615,20.373859,34.998033,1041.012534,55.258520,11.422969,10.432731,13.759141,0.172066,4.536581,1.128674,0.500004
min,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.100000,-35.300000,0.000000,1.000000,0.000000,0.000000
25%,22.000000,38.000000,3.000000,29.000000,600.000000,9.000000,3.300000,1003.400000,-8.600000,0.000000,4.000000,1.000000,0.000000
50%,59.000000,88.000000,8.000000,50.000000,1000.000000,43.000000,14.700000,1011.600000,3.200000,0.000000,8.000000,1.500000,0.500000
75%,116.000000,151.000000,22.000000,79.000000,1700.000000,83.000000,23.500000,1020.500000,15.100000,0.000000,12.000000,2.300000,1.000000
max,343.000000,400.000000,90.000000,165.000000,5000.000000,230.000000,41.100000,1042.000000,28.800000,2.400000,16.000000,5.500000,1.000000